swagger: '2.0'
info:
  title: "Chatbot API"
  description: "API for a powered chatbot service"
  version: "1.1"
host: "chatbot.endpoints.chatbot-llm-395402.cloud.goog"
basePath: "/v1"
produces:
  - "application/json"
schemes:
  - "http"
  - "https"
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
paths:
  /query/dataverse:
    post:
      description: "Dataverse documentation endpoint"
      operationId: "dataversellmrequest"
      x-google-backend:
        address: "http://powered-chatbot-app-service.powered-chatbot.svc.cluster.local:5001/query/dataverse"
        protocol: http/1.1
      x-google-endpoints:
        - name: "chatbot.endpoints.chatbot-llm-395402.cloud.goog"
          allowCors: true
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/llmResponse"
  /slack/dataverse:
    post:
      description: "Dataverse documentation endpoint for Slack"
      operationId: "dataversellmrequestslack"
      x-google-backend:
        address: "http://powered-chatbot-app-service.powered-chatbot.svc.cluster.local:5001/slack/dataverse"
        protocol: http/1.1
      x-google-endpoints:
        - name: "chatbot.endpoints.chatbot-llm-395402.cloud.goog"
          allowCors: true
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/llmResponse"
      
definitions:
  llmResponse:
    type: "object"
    properties:
      response:
        type: "string"
      nodes:
        type: array
      tokens:
        type: object
  SlackResponse:
    type: "object"
    properties:
      response_type:
        type: "string"
      text:
        type: "string"
      